#root {
}

.radix-themes {
  --cursor-button: pointer;
  --cursor-checkbox: pointer;
  --cursor-disabled: default;
  --cursor-link: pointer;
  --cursor-menu-item: pointer;
  --cursor-radio: pointer;
  --cursor-slider-thumb: grab;
  --cursor-slider-thumb-active: grabbing;
  --cursor-switch: pointer;
}

.app-main {
  width: 100%;
  height: 100vh;
}

.toolbar {
  width: 100%;
}

.grid-container {
  flex-grow: 1;
  width: 100%;
}

.grid {
  --ag-cell-text-color: var(--gray-12);
  --ag-text-color: var(--gray-12);
  --ag-foreground-color: var(--gray-12);
  --ag-background-color: rgb(from var(--color-background) r g b / 0.25);
  --ag-menu-background-color: rgb(from var(--color-surface) r g b / 0.5);
}

.search-results {
  --ag-background-color: rgb(from var(--plum-3) r g b / 0.25);
}

.edit-track.invalid {
  background-color: var(--red-6);
}

.ag-menu {
  backdrop-filter: blur(8px);
}

.row-highlight {
  background-color: var(--cyan-6);
}

.progress-slider {
  font-family: var(--code-font-family);
}

@property --stop {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

.progress-bar {
  --stop: calc(var(--stereo-playback-progress) * 100%);

  transition: --stop 0.5s ease-in-out;

  width: 100%;

  background: linear-gradient(
    to right,
    var(--cyan-8) var(--stop),
    var(--cyan-6) var(--stop)
  );
}

.search-box {
  font-family: var(--code-font-family);
  flex: 1;
  min-width: 400px;
}

.search-box-text-field {
  width: 100%;
}

.collection-selector-box {
  flex: 1;
  min-width: 400px;
}

.collection-text-field {
  width: 100%;
}

.title {
  font-family: var(--code-font-family);
}

.player {
  position: relative;
  margin: var(--space-2);
}

.background-player {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

  z-index: -1;
  filter: blur(16px);
  opacity: 0.5;
  transform: scale(2);
  pointer-events: none;
  animation:
    player-filter 7s linear infinite alternate,
    player-trafo 5s ease infinite alternate;
}

.hidden {
  display: none;
}

.yt-thumbnail-link {
  display: flex;
}

.track-control-cell {
  height: 100%;
}

.yt-thumbnail {
  transition: transform 0.1s ease-in-out;
  transform: scale(1);
}

.yt-thumbnail:hover {
  transform: scale(1.2);
}

.version-string {
  font-family: var(--code-font-family);
}

.rating-stars {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.rating-star {
  font-size: 1.2rem;
  transition: transform 0.1s ease-in-out;
  transform: scale(1);
}

.rating-star:hover {
  transform: scale(1.2);
}

.ToastViewport {
  margin: var(--space-4);
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 400px;
  max-width: 100vw;
  list-style: none;
  z-index: 100;
  outline: none;
}

.ToastRoot {
  padding: var(--space-2);
}

.ToastRoot[data-state="open"] {
  animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.ToastRoot[data-state="closed"] {
  animation: hide 100ms ease-in;
}
.ToastRoot[data-swipe="move"] {
  transform: translateX(var(--radix-toast-swipe-move-x));
}
.ToastRoot[data-swipe="cancel"] {
  transform: translateX(0);
  transition: transform 200ms ease-out;
}
.ToastRoot[data-swipe="end"] {
  animation: swipeOut 100ms ease-out;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes swipeOut {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }
  to {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
}

@keyframes player-filter {
  0% {
    filter: saturate(75%) blur(12px);
  }
  100% {
    filter: saturate(150%) blur(24px);
  }
}

@keyframes player-trafo {
  0% {
    transform: scale(2.5) rotate(-5deg);
  }
  100% {
    transform: scale(2.7) rotate(5deg);
  }
}
